{% assign certificates = site.data.data.sidebar.certificates %}
{% if certificates %}
<div class="certificates-container container-block">

  <h2 class="container-block-title">
    Certifications
  </h2>

  {% for certificate in certificates %}
    <div class="item">
        <h4 class="course">{{ certificate.course }}</h4>
        <span class="license">
            <a href="http://{{ certificate.link }}" target="_blank">{{ certificate.license }}</a>
        </span>
        <div class="institution">{{ certificate.institution }}</div>
    </div><!--//item-->
  {% endfor %}

</div><!--//certificates-->
{% endif %}
