{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">
    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        Worked Projects
      </h2>

  {% for project in projects %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h2 class="project-title">{{ project.title }}</h2>
      </div><!--//upper-row-->

      <div class="company">{{ project.company }}</div>

    </div><!--//meta-->

    {% if project.intro %}
    <div class="intro">
      <p>{{ project.intro | markdownify}}</p>
    </div><!--//intro-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
