{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  {% for project in projects %}
    <div class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
      </span>
      {{ project.title }}
    </div>
    <div class="meta">
      <div class="company">{{ project.company }}</div>
    </div>

    {% if project.intro %}
    <div class="intro">
      <p>{{ project.intro | markdownify}}</p>
    </div><!--//intro-->
    {% endif %}
  
  {% endfor %}

</section><!--//section-->
{% endif %}
